body {
    background-color: #253334;
}
.title {
    color: yellow;
    font-size: 50px;
    position: center;
}

textarea {
    color: white;
    background-color: #13131c;
    width: 70%;
    height: 500px;
    border-width: 2px;
    display: block;
}

#mytext {
    padding: 4px;
    margin: auto;
    font-size: 40px;
}

#buttons {
    display: flex;
}
button {
    background-color: orange;
    width: 10%;
    height: 30px;
    margin: 10px;
    border-width: 0;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(187, 123, 5);
    cursor: pointer;
}

#save-text-file {
    margin-left: 230px;
    background-color: #0de72d;
}

#save-text-file:hover {
    background-color: green;
}